{{!-- for login and register form --}}
<div class="row g-2 mb-3">
  <button type="submit" class="btn btn-primary mb-3">繼續</button>
  <a href="/auth/facebook" class="btn btn-outline-info">透過Facebook帳號繼續</a>
</div>