<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 mx-auto">
      <h1 class="my-3">登入</h1>
      {{>formMessages}}
      <form action="/user/login" method="POST">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">密碼</label>
          <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp"
            min="6" max="18" required>
            <div class="form-text">
              <a href="/user/resetPassword" class="text-danger text-decoration-none">忘記密碼？</a>
            </div>
        </div>
        {{>buttonsGroup}}
      </form>
      <p class="fs-6 text-center">您的登入狀態將會保留14天，或直到您主動登出本專案</p>
    </div>
  </div>
</div>