<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 mx-auto">
      <h1 class="my-3">忘記密碼</h1>
      {{>formMessages}}
      <form action="/user/resetPassword" method="POST">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="row g-2 mb-3">
          <button type="submit" class="btn btn-primary mb-3">發送重設密碼之Email</button>
        </div>
      </form>
    </div>
  </div>
</div>