<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 mx-auto">
      <h1 class="my-3">重設密碼</h1>
      {{>formMessages}}
      <form action="/user/resetPassword/{{token}}" method="POST">
        <div class="mb-3">
          <label for="password" class="form-label">新密碼</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-3">
          <label for="passwordConfirm" class="form-label">確認新密碼</label>
          <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" required>
        </div>
        <div class="row g-2 mb-3">
          <button type="submit" class="btn btn-primary mb-3">繼續</button>
        </div>
      </form>
    </div>
  </div>
</div>