<div class="container-fluid welcome-landing">
  <div class="row vh-100 justify-content-center align-items-center">
    <div class="col-10 col-sm-8 p-4 welcome-dialog">
      {{>formMessages}}
      <div class="alert alert-warning">
        ⏱️：你會記得自己花過多少錢嗎？
      </div>
      <div class="alert alert-primary text-end">
        每天睡覺前都會把當天日的開支好好記錄下來，從不拖延到第二天：💣
      </div>
      <h1 class="my-4 text-center">👉家庭記帳本👈</h1>
      <div class="row g-2">
        <a href="/user/register" class="btn btn-primary">註冊</a>
        <a href="/user/login" class="btn btn-outline-primary">登入</a>
      </div>
    </div>
  </div>
</div>