@font-face {
  font-family: 'Noto Serif TC';
  src: url('../fonts/NotoSerifTC-Light.otf');
}

body {
  font-family: 'Noto Serif TC', serif;
}

.welcome-landing {
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url('/images/pexels-dziana-hasanbekava-7063762.jpg');
}

.welcome-dialog {
  background-color: #fff;
}

/* add new expense button */

.add-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  font-size: 3rem;
  color: #fff;
  background-color: #1a1a1a;
  width: 3.25rem;
  height: 3.25rem;
  transform: rotate(45deg);
  box-shadow: 0 0 0.75rem 0 rgba(26, 26, 26, 0.4);
}

.add-button i {
  transform: rotate(-45deg);
}

/* navBar avatar size */

.avatar-32 {
  width: 32px;
  height: 32px;
}

.avatar-32 img {
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.avatar-32:hover {
  cursor: pointer;
}

/* user setting avatar size */

.avatar-128 {
  width: 128px;
  height: 128px;
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}